@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
*, *::after, *::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #0f1424;
  font-family: "Rubik", sans-serif;
}

.center {
  display: -ms-grid;
  display: grid;
  place-items: center;
  height: 700px;
  min-width: 350px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.container {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 20fr 60fr;
      grid-template-columns: 20fr 60fr;
      grid-template-areas: "header tiles";
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  gap: 30px;
  padding: 50px;
}

@media screen and (max-width: 769px) {
  .container {
    width: 370px;
        grid-template-areas: "header"  "tiles";
    padding: 10px;
  }
}

.header {
  font-size: 1.125rem;
  position: relative;
  height: 530px;
  width: 255px;
  z-index: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

@media screen and (max-width: 769px) {
  .header {
    height: 220px;
    width: 350px;
    margin-top: 50px;
  }
}

.header .tileBackHead {
  background-color: #5847eb;
  height: 371px;
  width: 255px;
  border-radius: 20px;
  padding: 30px 0 85px 30px;
  position: relative;
  z-index: 2;
  line-height: 40px;
}

@media screen and (max-width: 769px) {
  .header .tileBackHead {
    height: 150px;
    width: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

.header .tileBackHead .nameTitle {
  margin-top: 40px;
}

@media screen and (max-width: 769px) {
  .header .tileBackHead .nameTitle {
    margin-top: 0;
  }
}

.header .tileBackHead .subText {
  font-size: 1rem;
  color: #B0AAFF;
}

.header .tileBackHead .userName {
  text-transform: uppercase;
  font-size: 2rem;
  color: #f8f5ff;
  font-weight: 300;
}

@media screen and (max-width: 769px) {
  .header .tileBackHead .userName {
    font-size: 1.5rem;
  }
}

.header .tileBackHead .imgdiv {
  position: relative;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #fff;
  border: 3px solid #fff;
  height: 85px;
  width: 85px;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .tileBackHead .imgdiv .profilePic {
  border-radius: 50%;
  height: auto;
  width: 100%;
}

.header .tileFrontHead {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #1c1f4a;
  height: 530px;
  width: 255px;
  border-radius: 20px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 769px) {
  .header .tileFrontHead {
    height: 220px;
    width: 350px;
  }
}

.header .tileFrontHead ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: #B0AAFF;
  z-index: 3;
}

@media screen and (max-width: 769px) {
  .header .tileFrontHead ul {
    width: 350px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    bottom: 20px;
    left: 0;
  }
}

.header .tileFrontHead ul .timeframes {
  padding-top: 15px;
}

.header .tileFrontHead ul .timeframes.active {
  color: #f8f5ff;
}

.header .tileFrontHead ul .timeframes:hover {
  cursor: pointer;
  color: #f8f5ff;
}

.tiles {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tiles;
  -ms-grid-columns: 20fr 20fr 20fr;
      grid-template-columns: 20fr 20fr 20fr;
      grid-template-areas: "work play study" "exercise social selfcare";
  gap: 30px;
  row-gap: 30px;
}

@media screen and (max-width: 769px) {
  .tiles {
        grid-template-areas: "work"  "play" "study" "exercise" "social" "selfcare";
    gap: 0;
    row-gap: 30px;
    margin-bottom: 20px;
  }
}

.tiles .tile {
  position: relative;
  height: 250px;
  width: 255px;
  border-radius: 20px;
}

@media screen and (max-width: 769px) {
  .tiles .tile {
    height: 170px;
    width: 350px;
    display: -ms-grid;
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0;
  }
}

.tiles .tile[data-title="work"] {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: work;
}

.tiles .tile[data-title="play"] {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: play;
}

.tiles .tile[data-title="study"] {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: study;
}

.tiles .tile[data-title="exercise"] {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: exercise;
}

.tiles .tile[data-title="social"] {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: social;
}

.tiles .tile[data-title="selfcare"] {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: selfcare;
}

.tiles .tile .tileBack {
  position: relative;
  height: 250px;
  width: 255px;
  z-index: 1;
  border-radius: 20px;
}

@media screen and (max-width: 769px) {
  .tiles .tile .tileBack {
    height: 170px;
    width: 350px;
  }
}

.tiles .tile .tileBack.work {
  background-color: #ff8c66;
  background-image: url("../assets/icon-work.svg");
  background-repeat: no-repeat;
  background-position-x: right;
}

.tiles .tile .tileBack.play {
  background-color: #56c2e6;
  background-image: url("../assets/icon-play.svg");
  background-repeat: no-repeat;
  background-position-x: right;
}

.tiles .tile .tileBack.study {
  background-color: #ff5c7c;
  background-image: url("../assets/icon-study.svg");
  background-repeat: no-repeat;
  background-position-x: right;
}

.tiles .tile .tileBack.exercise {
  background-color: #4acf81;
  background-image: url("../assets/icon-exercise.svg");
  background-repeat: no-repeat;
  background-position-x: right;
}

.tiles .tile .tileBack.social {
  background-color: #7536d3;
  background-image: url("../assets/icon-social.svg");
  background-repeat: no-repeat;
  background-position-x: right;
}

.tiles .tile .tileBack.selfcare {
  background-color: #f1c65b;
  background-image: url("../assets/icon-self-care.svg");
  background-repeat: no-repeat;
  background-position-x: right;
}

.tiles .tile .tileFront {
  position: absolute;
  bottom: 0;
  height: 200px;
  width: 255px;
  z-index: 2;
  background-color: #1c1f4a;
  border-radius: 20px;
  padding: 20px;
  line-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 769px) {
  .tiles .tile .tileFront {
    height: 120px;
    width: 350px;
    padding: 30px;
    padding-top: 10px;
  }
}

@media screen and (max-width: 769px) {
  .tiles .tile .tileFront .statDiv {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.tiles .tile .tileFront:hover {
  background-color: #363a7d;
  cursor: pointer;
}

.tiles .tile .tileFront .tileTitle, .tiles .tile .tileFront .previousData {
  font-size: 1.125rem;
}

@media screen and (max-width: 769px) {
  .tiles .tile .tileFront .tileTitle, .tiles .tile .tileFront .previousData {
    font-size: 0.9rem;
  }
}

.tiles .tile .tileFront .tileTitle, .tiles .tile .tileFront .currentData, .tiles .tile .tileFront .tilePointer {
  color: #f8f5ff;
}

.tiles .tile .tileFront .currentData {
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 60px;
}

@media screen and (max-width: 769px) {
  .tiles .tile .tileFront .currentData {
    font-size: 2rem;
  }
}

.tiles .tile .tileFront .previousData {
  color: #B0AAFF;
  font-size: 1rem;
}

@media screen and (max-width: 769px) {
  .tiles .tile .tileFront .previousData {
    font-size: 1.2rem;
  }
}

.tiles .tile .tileFront .tileTitle {
  font-weight: 500;
  font-size: 1.2em;
}

.tiles .tile .tileFront .tilePointer {
  font-size: 1.5rem;
}

.tiles .tile .tileFront .tilePointer:hover {
  cursor: pointer;
}

.tiles .tile .tileFront .tileHead {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=styles.css.map */