// ### Typography
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

// ### Fonts
$font-family: 'Rubik', sans-serif;
$font-cards-title-size: 1.125rem;

// ### Primary Colors
$clr-pr-blue: hsl(246, 80%, 60%);
$clr-pr-Lightred-work: hsl(15, 100%, 70%);
$clr-pr-Softblue-play: hsl(195, 74%, 62%);
$clr-pr-Lightred-study: hsl(348, 100%, 68%);
$clr-pr-Limegreen-exercise: hsl(145, 58%, 55%);
$clr-pr-Violet-social: hsl(264, 64%, 52%);
$clr-pr-Softorange-self-care: hsl(43, 84%, 65%);

// ### Neutral Colors
$clr-nt-Verydarkblue: hsl(226, 43%, 10%);
$clr-nt-Darkblue: hsl(235, 46%, 20%);
$clr-nt-Desaturatedblue: hsl(235, 45%, 61%);
$clr-nt-PaleBlue: hsl(236, 100%, 87%);